<div class="profile-container">
    <img class="cover-img" src="{{user?.profileCoverImg}}" alt="coverImg">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <img class="pfp" src="{{user?.profileImg}}" alt="profileImg">
                <div>
                    <h3>{{user?.fullName}}</h3>
                    <p>{{user?.friends?.length}} Friends</p>
                </div>
            </div>
        </div>
        <div class="pd-right">
            <button type="button"><img src="/assets/images/add-friends.png" alt="addfriendsImg">Add Friend</button>
        </div>
    </div> 
</div>

<div class="profile-info">
    <div class="info-col">
        <div class="profile-intro">
            <div class="title-box">
                <h3>Friends</h3>
            </div>
            <p>{{user?.friends?.length}}</p>
            <div class="friends-box">
                <div><img src="/assets/images/member-1.png"></div>
                <div><img src="/assets/images/member-2.png"></div>
                <div><img src="/assets/images/member-3.png"></div>
                <div><img src="/assets/images/member-4.png"></div>
                <div><img src="/assets/images/member-5.png"></div>
                <div><img src="/assets/images/member-6.png"></div>
                <div><img src="/assets/images/member-7.png"></div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngFor="let post of postList">
    <app-post class="post-container" [post]="post"></app-post>
</ng-container>
