.post-container{
    position: relative;
    left: 815px;
    bottom: 525px;
}

.profile-info{
    position: relative;
    left: 260px;
    display:inline-flex;
    align-content: space-between;
}

.pfp{
    width: 200px;
    border-radius: 10px;
    margin-right: 20px;
}

