<nav>
    <div class="nav-left">
        <img src="./logo.png" class="logo">
    </div>

    <div class="nav-right">
        <div class="nav-user-icon">
            <img src="images/profile-pic.png">
        </div>
    </div>

    <!-- ---------------dropdown-menu---------------- -->
    <div class="settings-menu">
        <!-- if logged -->
        <div class="settings-menu-inner">
            <div class="settings-links">
                <img src="images/profile-pic.png" alt="">
                <a href="#">Profile</a>
            </div>
            <hr>
            <div class="settings-links">
                <img src="./logout.png">
                <a href="#">Logout</a>
            </div>
            <!-- if logged out -->
            <!-- <div class="settings-links">
                <img src="images/no-pfp.png" alt="">
                <a href="#">Login</a>
            </div>
            <hr></hr>
            <div class="settings-links">
                <img src="images/logout.png">
                <a href="#">Register</a>
            </div> -->
        </div>
    </div>


</nav>
