<nav>
    <div class="nav-left">
        <a routerLink="/"><img src="/assets/images/logo.png" class="logo"></a>
    </div>

    <div class="nav-right">
        <div class="nav-user-icon" (click)="toggleDropDown()">
            <img *ngIf="user" src="{{user.profileImg}}">
            <img *ngIf="!user" src="/assets/images/no-pfp.png">
        </div>
    </div>

    <!-- ---------------dropdown-menu---------------- -->
    <div class="settings-menu" *ngIf="dropDownMenu">
        <!-- if logged -->
        <div class="settings-menu-inner">
            <ng-container *ngIf="user">
                <div class="settings-links">
                    <img src="{{user.profileImg}}" alt="">
                    <a routerLink="/profile/{{user._id}}">Profile</a>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="/assets/images/logout.png">
                    <a routerLink="/users/logout">Logout</a>
                </div>
            </ng-container>
            <!-- if logged out -->
            <ng-container *ngIf="!user">
                <div *ngIf="!user" class="settings-links">
                    <img src="/assets/images/no-pfp.png" alt="">
                    <a routerLink="/users/login">Login</a>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="/assets/images/logout.png">
                    <a routerLink="/users/register">Register</a>
                </div>
            </ng-container>
        </div>
    </div>


</nav>