<div class="container">
    <!-- left-sidebar -------------------------------------------------------------------- -->
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="#"><img src="/assets/images/news.png">Latest News</a>
            <a href="#"><img src="/assets/images/friends.png">Friends</a>
        </div>
        <div class="shortcut-links">
            <p>Your Shortcuts</p>
            <a href="#"><img src="/assets/images/shortcut-1.png">Web Developers</a>
            <a href="#"><img src="/assets/images/shortcut-2.png">Web Design Course</a>
            <a href="#"><img src="/assets/images/shortcut-3.png">Full Stack Development</a>
            <a href="#"><img src="/assets/images/shortcut-4.png">Website Experts</a>
        </div>
    </div>
    <!-- ---------------main-content------------------------------ -->
    <div class="main-content">

        <div class="write-post-container">
            <div class="user-profile">
                <img src="/assets/images/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                </div>
            </div>

            <div class="post-input-container">
                <div class="add-post-links">
                    <a routerLink="/post/create">
                        <img src="/assets/images/photo.png">
                        <p>Post</p>
                    </a>
                </div>
            </div>
        </div>


        <div class="post-container">
            <div class="user-profile">
                <img src="/assets/images/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                </div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-text">Caption</p>
            <img class="post-img" src="/assets/images/feed-image-1.png">
            <div class="post-row">
                <div class="activity-icons">
                    <div>
                        <img src="/assets/images/like-blue.png"> 120
                    </div>
                </div>
            </div>
            <!-- if user owns the post -->
            <div class="owner-buttons">
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </div>
        </div>

        <div class="post-container">
            <div class="user-profile">
                <img src="/assets/images/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                </div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-text">Caption</p>
            <img class="post-img" src="/assets/images/feed-image-1.png">
            <div class="post-row">
                <div class="activity-icons">
                    <div>
                        <img src="/assets/images/like-blue.png"> 120
                    </div>
                </div>
            </div>
        </div>

        <div class="post-container">
            <div class="user-profile">
                <img src="/assets/images/profile-pic.png">
                <div>
                    <p>John Nicholson</p>
                </div>
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
            <p class="post-text">Caption</p>
            <img class="post-img" src="/assets/images/feed-image-1.png">
            <div class="post-row">
                <div class="activity-icons">
                    <div>
                        <img src="/assets/images/like-blue.png"> 120
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ----------------------right-sidebar--------------- -->
    <div class="right-sidebar">

        <div class="sidebar-title">
            <h4>Friends</h4>
        </div>

        <div class="online-list">
            <div class="online">
                <img src="/assets/images/member-1.png">
                <p>Alison Mina</p>
            </div>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/assets/images/member-2.png">
                <p>Name Name</p>
            </div>
        </div>
        <div class="online-list">
            <div class="online">
                <img src="/assets/images/member-3.png">
                <p>Name Name</p>
            </div>
        </div>

    </div>
</div>

