<div class="container">
    <!-- left-sidebar -------------------------------------------------------------------- -->
    <div class="left-sidebar">
        <div class="imp-links">
            <a href="#"><img src="/assets/images/news.png">Latest News</a>
            <a href="#"><img src="/assets/images/friends.png">Friends</a>
        </div>
        <div class="shortcut-links">
            <p>Your Shortcuts</p>
            <a href="#"><img src="/assets/images/shortcut-1.png">Web Developers</a>
            <a href="#"><img src="/assets/images/shortcut-2.png">Web Design Course</a>
            <a href="#"><img src="/assets/images/shortcut-3.png">Full Stack Development</a>
            <a href="#"><img src="/assets/images/shortcut-4.png">Website Experts</a>
        </div>
    </div>
    <!-- ---------------main-content------------------------------ -->
    <div class="main-content">

        <div class="write-post-container">
            <ng-container *ngIf="user">
                <div class="user-profile">
                    <img src="{{user.profileImg}}">
                    <div>
                        <p>{{user.fullName}}</p>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="!user">
                <div class="user-profile">
                    <img src="/assets/images/no-pfp.png">
                    <div>
                        <p>Login to make a post!</p>
                    </div>
                </div>
            </ng-container>

            <div class="post-input-container">
                <div class="add-post-links">
                    <a routerLink="/posts/create">
                        <img src="/assets/images/photo.png">
                        <p>Post</p>
                    </a>
                </div>
            </div>
        </div>


        <ng-container *ngFor="let post of postList">
            <app-post [user]="user" [post]="post"></app-post>
        </ng-container>

    </div>
    <!-- ----------------------right-sidebar--------------- -->
    <div class="right-sidebar">

        <div class="sidebar-title">
            <h4>Friends</h4>
        </div>

        <ng-container *ngIf="user && user.friends.length > 0">
            <ng-container *ngFor="let friend of user.friends">
                <app-friend [friendId]="friend"></app-friend>
            </ng-container>
        </ng-container>

    </div>
</div>