<section id="create-page" class="register">
    <form id="create-form">
      <fieldset>
        <legend>Post Form</legend>
        <p class="field">
          <label for="email">Post Picture</label>
          <span class="input">
            <input
              type="text"
              name="imageUrl"
              id="image"
              placeholder="https://"
            />
          </span>
        </p>
        <p className="field">
          <label for="email">Caption</label>
          <span class="input">
            <input
              type="text"
              name="caption"
              id="cap"
              placeholder="Caption..."
            />
          </span>
        </p>
        <input
          class="button submit"
          type="submit"
          defaultValue="Register"
        />
      </fieldset>
    </form>
  </section>
