*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #efefef;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #aecf0d;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    width: 80px;
    height: 80px;
    margin-right: 45px;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-user-icon img{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content{
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4{
    font-weight: 600px;
    font-size: 16px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.write-post-container{
    width: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    columns: #626262;
    margin-left: 20px;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small{
    font-size: 12px;
}

.add-post-links{
    display: flex;
    margin-top: 30px;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
    width: 40px;
}

.add-post-links a p{
    font-size: 20px;
}

.post-container{
    width: 90%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
    margin-left: 20px;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    
}

.post-container a {
    margin-left: 550px;
    color: #9a9a9a;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    height: 500px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    border-radius: 4px;
    overflow: hidden;
    top: 90px;
    right: 5%;
}

.user-profile a{
    font-size: 20px;
    color: #1876f2;
    text-decoration: none;
}

.settings-menu-inner{
    padding: 20px;
}

.settings-menu-inner .user-profile div a{
    display: block;
    margin: 20px 0;
}

.settings-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.settings-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.settings-links a{
    text-decoration: none;
    margin-left: 10px;
}

.settings-menu img{
    width: 50px;
    border-radius: 50px;
}

.settings-menu {
    height: 200px;
}

.post-container{
    position: relative;
}

.owner-buttons{
    position: absolute;
    display: flex;
    bottom: 25px;
}

.owner-buttons a{
    text-decoration: none;
    display: flex;
}

.owner-buttons a:nth-child(2){
    position: relative;
    right: 500px;
}