<section id="create-page" class="register">
    <form id="create-form" #form="ngForm" (ngSubmit)="createHandler(form)">
      <fieldset>
        <legend>Post Form</legend>
        <p class="field">
          <label for="email">Post Picture</label>
          <span class="input">
            <input
              type="text"
              name="imageUrl"
              id="image"
              placeholder="https://"
              ngModel
              required
              #imageUrlInput="ngModel"
            />
          </span>
        </p>

        <ng-container *ngIf="imageUrlInput.touched">
          <p class="error" *ngIf="imageUrlInput.errors?.['required']">
            Post picture is required!
          </p>
        </ng-container>

        <p className="field">
          <label for="email">Caption</label>
          <span class="input">
            <input
              type="text"
              name="caption"
              id="cap"
              placeholder="Caption..."
              ngModel
              #captionInput="ngModel"
            />
          </span>
        </p>

        <input
          [disabled]="form.invalid"
          class="button submit"
          type="submit"
          defaultValue="Register"
        />
      </fieldset>
    </form>
  </section>
